h2.title {
    display: inline;
}

label.search-title {
    display: inline-block;
    margin: 0 0 0 19rem;
}

label.search-title input {
    text-align: right;
}

div.sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}